.cart {
    display: flex;
    flex-direction: column;
}

.cart_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart__button {
    border: none;
    background: rgb(211, 108, 158);
    padding: 10px 40px;
    outline: none;
    border-radius: 15px;
    transition: 1s;
}

.cart__button:hover {
    background: rgb(207, 75, 139);
}

.cart__product-container {
    flex-basis: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__button:hover {
    background: rgb(207, 75, 139);
}

.cart__img {
    height: auto;
    max-width: 100%;
}