.cart-footer__link-button a {
    text-decoration: none;
    color: black;
}

.cart-footer__link-button {
    border: none;
    background: rgb(211, 108, 158);
    padding: 10px 40px;
    outline: none;
    border-radius: 15px;
    transition: 1s;
    display: block;
    margin: 0 auto;
}

.cart-footer__link-button {
    background: rgb(207, 75, 139);
}

.cart-footer__quantity {
    text-align: center;
}